
  <footer class="row align-items-stretch">
      <div class="col-12 col-md-6 order-md-2 img"></div>
      <div class="col-12 col-md-6 order-md-1 info">
        <div class="row">
          <div class="col-6 about d-flex align-items-center">
            <p>
              <b>C&T Company</b><br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum suscipit, recusandae neque deserunt quis animi fuga expedita molestiae ea assumenda iure natus dolorem in dolores voluptate. Amet maxime aut explicabo!
            </p>
          </div>
          <div class="col-6 workhours d-flex align-items-center justify-content-center">
            <p>Working hours<br>
            <b>0-24 NONSTOP</b></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  </html>