<% include src/static/templates/client_header %>

<div class="container product-item">
  <div class="row">
    <div class="col-12 col-md-4 img">
      <img src="//placehold.it/200" alt="Coffee image">
    </div>
    <div class="col-12 col-md-7 offset-md-1 desc">
      <h2>Lorem, ipsum.</h2>
      <div class="d-flex features">
        <div class="feature">
          <img src="//placehold.it/20" alt="Feature">
          <span class="name">Lorem, ipsum.</span>
        </div>
        <div class="feature">
          <img src="//placehold.it/20" alt="Feature">
          <span class="name">Lorem, ipsum.</span>
        </div>
        <div class="feature">
          <img src="//placehold.it/20" alt="Feature">
          <span class="name">Lorem, ipsum.</span>
        </div>
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et sunt doloremque cupiditate quam ea ex consequuntur vero. Sint ea error rerum iure illo quae impedit nam nihil amet, quo reiciendis!</p>
      <div class="input-group col-8 col-sm-4 col-md-3 count">
        <div class="input-group-prepend">
          <button class="btn btn-success" type="button">-</button>
        </div>
        <input type="text" class="form-control" placeholder="Count" value="1">
        <div class="input-group-append">
          <button class="btn btn-success" type="button">+</button>
        </div>
      </div>
      <button class="btn btn-success addtocart" type="button">Add to cart</button>
    </div>
  </div>
</div>

<% include src/static/templates/client_footer %>